<div>
  <%= form.label :property_name %>
  <%= form.text_field :property_name %>

  <%= form.label :description %>
  <%= form.text_field :description %>

  <%= form.label :price_per_night %>
  <%= form.text_field :price_per_night %>

  <%= form.label :image %><br>
  <%= form.file_field :image, multiple: true %>

</div>